.team {
  background-color: $secondary-bcg-color;
}

.team__item {
  flex-basis: calc((100% - 30px * 4) / 4);
  padding-bottom: 30px;
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: $primary-bcg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__photo {
  margin-bottom: 30px;
}

.team__card {
  padding-left: 15px;
  padding-right: 15px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team__position {
  color: $primary-text-color;
  margin-bottom: 16px;
}

.team__name,
.team__position {
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
}

.team-social {
  display: flex;
  justify-content: center;
  @extend %list;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  @extend %social;
  background-color: $primary-bcg-color;
  transition: background-color $animation;
}

.team-social__icon {
  fill: #afb1b8;
  transition: fill $animation;

  .team-social__link:focus &,
  .team-social__link:hover & {
    fill: $primary-bcg-color;
  }